SERVER_HOST=84.237.52.214
CHISEL_AUTH=user:STRONG_PASSWORD

LOCAL_HTTP_TARGET_HOST=127.0.0.1
LOCAL_HTTP_TARGET_PORT=8050

LOCAL_WS_TARGET_HOST=127.0.0.1
LOCAL_WS_TARGET_PORT=8765

LOCAL_REWRITE_PROXY_HOST=127.0.0.1
LOCAL_REWRITE_PROXY_PORT=18050

PUBLIC_HTTP_PORT=4015
PUBLIC_WS_PORT=4014
OLD_WS_PORT=8765
